<div class="section-center justify-center items-center flex flex-col h-[100vh] mx-auto lg:h-[90vh]">
    <div class="section-about items-center lg:space-x-[144px] flex w-[90vw] lg:w-[1024px] px-[40px]">
        <img class="img-about mx-auto" src="../assets/img-about.png" alt="">
        <div class="section-text mt-10 lg:mt-0">
            <h2 class="heading-title border-b border-b-primary">Sobre</h2>
            <p class="body-text">Olá, seja bem-vindo ao meu universo particular!<br>
                Sou arquiteta e urbanista, me formei em 2013 e desde então segui vários caminhos até (re)encontrar o que
                me brilha os olhos. O urbanismo em conjunto com trânsito e transportes é uma área que me instiga, me
                fazendo a cada dia buscar novas ideias e formas de como colocá-las em prática.
                Espero compartilhar aqui alguns trabalhos que já realizei, estudos e muitos testes. </p>
        </div>
    </div>
</div>
