@import '../../../styles.scss';
@import '../../../variables.scss';



  .hero {
    background-image: url("/assets/bg-hero.png");
    // background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    max-width: 100%;
    width: 100%;
    // margin-bottom: 44px;
  }

@media screen and (min-width: 1024px) {

    .hero {
      // background-image: url("/assets/bg-hero.png");
      // background-size: contain;
      // background-repeat: no-repeat;
      // background-position: center;
      // max-width: 100%;
      // width: 100%;
      margin-bottom: 44px;
    }
}
