<div
    class="section-center bg-primary-light w-full justify-center items-center flex flex-col-reverse lg:flex-col h-[80vh] lg:h-[100vh] mx-auto overflow-hidden">
    <div class="w-[1024px]">
        <div class="hero h-[30vh] lg:h-[40vh] mb-4 bg-120% lg:bg-cover"></div>
        <div class="mx-auto text-center w-fit">
            <h1 class="hero-title pb-2 border-b border-b-tertiary">{{ title }}</h1>
            <p class="body-description mt-2 ">arquitetura de ideias</p>
        </div>
    </div>
</div>
